<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/web.css">
    <title>Document</title>
</head>
<body>
    <!-- start of header-->
 <nav>
    <div class="logo">
        <h4>History</h4>
    </div>
    <ul class="nav-links">
        <li><a href="#">home</a></li>
        <li><a href="#">ML visuals</a></li>
    </ul>
</nav>
        <!-- end of header-->
        <!-- history body-->
        <div class="history_page">
            <!-- nasdaq history-->
            <article>
            <h4 class="title">NASDAQ</h4>
            <span class="history">
                <p>The NASDAQ-100 Index is a stock market index that includes 100 of the largest, 
                    most actively traded, non-financial companies that are listed on the Nasdaq Stock Market. 
                    A stock market index helps investors compare current and past price levels in order to calculate the overall market’s performance.
                </p>
            </span>
        </div>
    </article>
    <!-- nasdaq history-->
        <div class="history_page">
            <article>
            <h4 class="title">ETF</h4>
               <p> ETFs emerged out of the index investing phenomenon in the late 1980s and early 1990s,
                 and there are two early examples that can be referenced as a starting point.
               </p>
            <span>
                <p>1989 - This initial attempt to create an ETF was set to track the S&P 500, 
                and garnered significant investor interest. However, it was ruled to work like a futures contract according to a federal court in Chicago, so it never made it to the exchange.
                </p>
            </span>
            <span>
                <p>
                1990 - These were a warehouse, receipt-based instrument that tracked Canada’s major index, 
                the TSE-35. They allowed investors to participate in the performance in the index, without owning individual shares of stocks in the index.
                </p>
            </span>
        </div>
        </article>
        <div class="history_page">
               <article> 
                <div class="title"><h4 class="title">S&P 500</h4></div>
                <p>
                    The S&P 500 was created in 1923 by Henry Barnum Poor’s company, 
                    Poor’s Publishing. It began by tracking 90 stocks in 1926. Standard & Poor’s was founded in 1941, 
                    when the company merged with Standard Statistics.
                </p>
            </div>
        </article>
</body>
</html>